*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 35%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    color: #fff;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 35px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 15px;
}
.search button{
    border: 0;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 50px;  
    cursor: pointer; 
}
.search button img{
    width: 25px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 30px;
    font-weight: 200;
}
.weather h2{
    font-size: 15px;
    font-weight: 100;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}